<h3 class="inline">Marker Image Selection</h3> <button type="button" class="btn btn-default btn-circle inline" tooltip-placement="right" uib-tooltip="Select the image that will be your marker for the Augmented Reality Content. Files should be .jpeg, .jpg or .png"><b>?</b></button>

<button class="btn btn-default btn-lg btn-block" ng-model="typewriterCtrl.image"  ngf-pattern="'.jpg,.jpeg,.png'" ngf-select="submitImage(file)">Select Marker Image File</button>

<h3 class="inline">AR Content Selection</h3> <button type="button" class="btn btn-default btn-circle inline" tooltip-placement="right" uib-tooltip="Select the type of Augmented Reality content. Image Formats: .jpeg, .jpg and .png. Audio Formats: .mp3 and .wav. Video Formats: .mp4 and .3gp. 3D Object Formats: .jet (go to https://www.kudan.eu/download-kudan-ar-sdk/ and download the Toolkit to convert .obj and .fbx files to .jet.). Texture must be .jpg or .png"><b>?</b></button>

<div >
	<h3>Select Content Type</h3>
	<select class="form-control" ng-model="typewriterCtrl.page.image.contentType" ng-change="typewriterCtrl.resetMarkerFile()">
		<option value="image">Image</option>
      	<option value="video">Video</option>
      	<option value="audio">Audio</option>
      	<option value="object">3D Object</option>
	</select>
</div>

<br>

<button class="btn btn-default btn-lg btn-block" ng-model="typewriterCtrl.ARContent" ng-show="typewriterCtrl.page.image.contentType == 'image'" ngf-pattern="'.jpg,.jpeg,.png'" ngf-select="uploadContent(file)">Select AR Image File</button> 

<button class="btn btn-default btn-lg btn-block" ng-model="typewriterCtrl.ARContent" ng-show="typewriterCtrl.page.image.contentType == 'video'" ngf-pattern="'.3gp,.mp4'" ngf-select="uploadImage(file)">Select AR Video File</button> 

<button class="btn btn-default btn-lg btn-block" ng-model="typewriterCtrl.ARContent" ng-show="typewriterCtrl.page.image.contentType == 'audio'" ngf-pattern="'.wav,.mp3'" ngf-select="uploadContent(file)">Select AR Audio File</button>

<button class="btn btn-default btn-lg btn-block" ng-model="typewriterCtrl.ARContent" ng-show="typewriterCtrl.page.image.contentType == 'object'" ngf-pattern="'.jet'" ngf-select="uploadContent(file)">Select AR 3D Object File</button>
<button class="btn btn-default btn-lg btn-block" ng-model="typewriterCtrl.texture" ng-show="typewriterCtrl.page.image.contentType == 'object'" ngf-pattern="'.jpg,.jpeg,.png'" ngf-select="uploadTexture(file)">Select Object Texture File</button>

<br><br>

<button type='submit' class="btn btn-default btn-lg btn-block" ng-show="typewriterCtrl.page.image.contentType != 'object'" ng-click="typewriterCtrl.sendFiles()" ng-disabled="!typewriterCtrl.image || !typewriterCtrl.ARContent">Upload Files</button>

<button type='submit' class="btn btn-default btn-lg btn-block" ng-show="typewriterCtrl.page.image.contentType == 'object'" ng-click="typewriterCtrl.sendFiles()" ng-disabled="!typewriterCtrl.image || !typewriterCtrl.ARContent || !typewriterCtrl.texture">Upload Files</button>

<h3 class="inline">Marker Image Dimension</h3> <button type="button" class="btn btn-default btn-circle inline" tooltip-placement="right" uib-tooltip="Set the width and height of your marker image."><b>?</b></button>

<div class="form-group">
	<label for="exampleInputEmail1">Width</label>
	<input type="number" class="form-control" ng-model="typewriterCtrl.page.image.width">
</div>

<div class="form-group">
	<label for="exampleInputEmail1">Height</label>
	<input type="number" class="form-control" ng-model="typewriterCtrl.page.image.height">
</div>

<h3 class="inline">Marker Image Position</h3> <button type="button" class="btn btn-default btn-circle inline" tooltip-placement="right" uib-tooltip="Set the position of your marker image. 'Horizontal' is the left margin and 'Vertical' the top one."><b>?</b></button>

<div class="form-group">
	<label for="exampleInputEmail1">Horizontal</label>
	<input type="number" min="0" class="form-control" ng-model="typewriterCtrl.page.image.left">
</div>

<div class="form-group">
	<label for="exampleInputEmail1">Vertical</label>
	<input type="number" min="0" class="form-control" ng-model="typewriterCtrl.page.image.top">
</div>

