<h3>Title Content</h3>
<textarea class="textarea-title" ng-model="typewriterCtrl.page.title" cols="5" rows="5"></textarea>
<!--<button type="submit" class="btn btn-default btn-lg btn-block">Submit Title</button>-->

<div>
	<h3>Title Size</h3>
    <select name="titleSize" class="textControls form-control" ng-model="typewriterCtrl.page.pageStyle.titleSize">
		<option value="270%">26</option>
		<option value="280%">28</option>
		<option value="290%">30</option>
		<option value="300%">32</option>
		<option value="320%">34</option>
		<option value="350%">36</option>
	</select>
</div>

<div>
	<h3>Title Font</h3>
    <select name="titleFont" class="textControls form-control" ng-model="typewriterCtrl.page.pageStyle.titleFont">
		<option value="times">Times New Roman</option>
		<option value="helvetica">Helvetica</option>
		<option value="courier">Courier</option>
	</select>
</div>
