/* COLORS
* GREEN: #7ebb6b;
* RED: #ee9e8b;
--------------------------------------------------*/



/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  height: 100%;
}

.header {
  position: relative;
  width: 100%;
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 2%;
  margin: 0;
}

/* TITTLE
--------------------------------------------------*/
.title{
  width: 300px;
  height: 40px;
  margin: 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* BUTTON
--------------------------------------------------*/
.btn {
  font-weight: bold;
  font-size: 15px;
}

.btn.outline {
  background: none;
  padding: 10px 20px;
  border: 1px solid;
  color: #0099cc;
}

.btn-lg {
  font-size: 18px;
}



/* FORMS 
--------------------------------------------------*/

.formInput {
  height: 52px;
  padding: 12px;
  font-size: 18px;
  line-height: 36px;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom-width: 0;
  border-color: #ccc;
}

.formInput:focus {
  border-bottom-width: 1px;
}

.formInput.top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.formInput.bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
}

/* FORMS COLORS
--------------------------------------------------*/

.has-success .form-control:focus {
  border-color: #7ebb6b;
}

.has-success .form-control {
  border-color: #ccc;
}

.has-error .form-control:focus {
  border-color: #ee9e8b;
}

.has-error .form-control {
  border-color: #ccc;
}

/* SIGN IN FORM
--------------------------------------------------*/

.signForm {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* FORMS GLYPHICON
--------------------------------------------------*/
.has-success .form-control-feedback{
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 9px; 
}

.has-error .form-control-feedback{
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 9px; 
}