<!DOCTYPE html>
<html ng-app="booksAR">
  <head>
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link href="assets/css/sticky-footer-navbar.css" rel="stylesheet">
  </head>
  <body>

    <div class="container header">
      <h1 class="pull-left title"> Typewriter AR </h1>
      <button class=" btn outline pull-right">
      Log in
      </button>
    </div>

    <div class="container signForm" ng-controller="signUpController as signUpCtrl">

      <div class="alert alert-danger" role="alert" ng-show="signUpCtrl.err.show">
        <h4> {{signUpCtrl.err.message}}</h4>
      </div>

      <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
        <!-- Sign In Form -->
        <form name="signUpForm" class="form-horizontal"  ng-submit="signUpForm.$valid && signUpCtrl.createUser()" novalidate>

          <div class="has-feedback" ng-class="{'has-success': signUpForm.name.$valid, 'has-error': signUpForm.name.$invalid && signUpForm.name.$dirty}">
            <input name="name" type="text" class="formInput top form-control" ng-change="signUpCtrl.verifyName(signUpForm.name.$valid)" placeholder="Name" ng-model="signUpCtrl.user.name" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="signUpForm.name.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="signUpForm.name.$invalid && signUpForm.name.$dirty"></span>
          </div>

          <div class="has-feedback" ng-class="{ 'has-success': signUpForm.lastName.$valid, 'has-error': signUpForm.lastName.$invalid && signUpForm.lastName.$dirty}">
            <input name="lastName" type="text" class="formInput form-control" ng-change="signUpCtrl.verifyLastName(signUpForm.lastName.$valid)" placeholder="Last Name" ng-model="signUpCtrl.user.lastName" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="signUpForm.lastName.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="signUpForm.lastName.$invalid && signUpForm.lastName.$dirty"></span>
          </div>

          <div class="has-feedback" ng-class="{ 'has-success': signUpForm.username.$valid && (signUpCtrl.user.username.length > 7), 'has-error': (signUpCtrl.user.username.length <= 7) || signUpForm.username.$invalid && signUpForm.username.$dirty}">
            <input name="username" type="text" class="formInput form-control" ng-change="signUpCtrl.verifyUsername(signUpForm.username.$valid)" placeholder="Username" ng-model="signUpCtrl.user.username" maxlength="16" required>            
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="signUpForm.username.$valid && signUpCtrl.user.username.length > 7"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="signUpCtrl.user.username.length <= 7 || signUpForm.username.$invalid && signUpForm.username.$dirty"></span>
          </div>

          <div class="has-feedback" ng-class="{ 'has-success': signUpForm.email.$valid, 'has-error': signUpForm.email.$invalid && signUpForm.email.$dirty}">
            <input name="email" type="email" class="formInput form-control" ng-change="signUpCtrl.verifyEmail(signUpForm.email.$valid)" placeholder="Email" ng-model="signUpCtrl.user.email" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="signUpForm.email.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="signUpForm.email.$invalid && signUpForm.email.$dirty"></span>
          </div>

          <div class="has-feedback" ng-class="{ 'has-success': signUpForm.password.$valid && (signUpCtrl.user.password.length > 7), 'has-error': (signUpCtrl.user.password.length <= 7) || signUpForm.password.$invalid && signUpForm.password.$dirty}">
            <input name="password" type="password" class="formInput form-control" ng-change="signUpCtrl.verifyPassword(signUpForm.password.$valid)" placeholder="Password" ng-model="signUpCtrl.user.password" required maxlength="16">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="signUpForm.password.$valid && signUpCtrl.user.password.length > 7"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="signUpCtrl.user.password.length <= 7 || signUpForm.password.$invalid && signUpForm.password.$dirty"></span>
          </div>

          <div class="has-feedback" ng-class="{ 'has-success': signUpForm.passwordVerif.$valid  && (signUpCtrl.user.passwordVerif.length > 7), 'has-error': (signUpCtrl.user.passwordVerif.length <= 7) ||  signUpForm.passwordVerif.$invalid && signUpForm.passwordVerif.$dirty }">
            <input name="passwordVerif" type="password" class="formInput bottom form-control" ng-change="signUpCtrl.verifyPasswordVerif(signUpForm.passwordVerif.$valid)" placeholder="Repeat password" ng-model="signUpCtrl.user.passwordVerif" required maxlength="16">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="signUpForm.passwordVerif.$valid && signUpCtrl.user.passwordVerif.length > 7"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="signUpCtrl.user.passwordVerif.length <= 7 || signUpForm.passwordVerif.$invalid && signUpForm.passwordVerif.$dirty"></span>
          </div>

          <br>

          <input type="submit" value="Sign In" class="btn btn-default btn-lg btn-block"/>

        </form>
        <!-- End Of Sign In Form -->
      </div>
    </div>

    
    

    <!-- angular js file -->
    <script type="text/javascript" src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="app/app.module.js"></script>
  </body>
</html>