<div class="row typewriter">
	<div class="col-lg-4 col-md-4 col-sm-4 leftBar">
		<!-- Text Only-->
		<div ng-show="typewriterCtrl.isSelected(1)">
			<text-editor></text-editor>
			<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="typewriterCtrl.pdf()">PDF</button>
		</div>
		<!-- Image Only-->
		<div ng-show="typewriterCtrl.isSelected(2)">
			<h3>Image Dimension</h3>
			<div class="form-group">
				<label for="exampleInputEmail1">Width</label>
				<input type="number" class="form-control" ng-model="typewriterCtrl.image.width">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Height</label>
				<input type="number" class="form-control" ng-model="typewriterCtrl.image.height">
			</div>
			<h3>Image Position</h3>
			<div class="form-group">
				<label for="exampleInputEmail1">Horizontal</label>
				<input type="number" min="0" class="form-control" ng-model="typewriterCtrl.image.left">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Vertical</label>
				<input type="number" min="0" class="form-control" ng-model="typewriterCtrl.image.top">
			</div>
			<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="typewriterCtrl.pdfImage()">PDF</button>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8">
		<page-preview></page-preview>
	</div>
	</div>
</div>

