<!-- Header Navbar -->
<typewriter-navbar></typewriter-navbar>
<!--/.Header Navbar -->

<!-- Content -->
<div uib-alert class="alert-success alertFixed" close="typewriterCtrl.closeSuccessAlert()" ng-if="typewriterCtrl.alertSuccess.show" dismiss-on-timeout="2000">{{typewriterCtrl.alertSuccess.msg}}</div >
		
<div uib-alert class="alert-danger alertFixed" close="typewriterCtrl.closeDangerAlert()" ng-if="typewriterCtrl.alertDanger.show" dismiss-on-timeout="2000">{{typewriterCtrl.alertDanger.msg}}</div >

<div class="row pageTypeMenu">

	<a href="" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 pageTypeBtn" ng-click="typewriterCtrl.setPageType(1)" ng-class="{pageTypeSelected: typewriterCtrl.isSelected(1)}" ng-init="textWhite = false" 
    ng-mouseenter="textWhite = true" ng-mouseleave="textWhite = false">
		<img src="./assets/img/text-white.png" alt="..." class="pageTypeImage" ng-show="typewriterCtrl.isSelected(1) || textWhite">
		<img src="./assets/img/text-black.png" alt="..." class="pageTypeImage" ng-show="!typewriterCtrl.isSelected(1) && !textWhite">
		<p> Text </p>
	</a>
	<a href="" class="col-lg-2 col-md-2 col-sm-2 pageTypeBtn" ng-click="typewriterCtrl.setPageType(2)" ng-class="{pageTypeSelected: typewriterCtrl.isSelected(2)}" ng-init="imageWhite = false" ng-mouseenter="imageWhite = true"
    ng-mouseleave="imageWhite = false">
		<img src="./assets/img/image-white.png" alt="..." class="pageTypeImage" ng-show="typewriterCtrl.isSelected(2) || imageWhite">
		<img src="./assets/img/image-black.png" alt="..." class="pageTypeImage"  ng-show="!typewriterCtrl.isSelected(2) && !imageWhite">
		<p> Image </p>
	</a>
	<a href="" class="col-lg-2 col-md-2 col-sm-2 pageTypeBtn" ng-click="typewriterCtrl.setPageType(3)" ng-class="{pageTypeSelected: typewriterCtrl.isSelected(3)}" ng-init="titleWhite = false" ng-mouseenter="titleWhite = true"
    ng-mouseleave="titleWhite = false">
		<img src="./assets/img/title-white.png" alt="..." class="pageTypeImage" ng-show="typewriterCtrl.isSelected(3) || titleWhite">
		<img src="./assets/img/title-black.png" alt="..." class="pageTypeImage"  ng-show="!typewriterCtrl.isSelected(3) && !titleWhite">
		<p> Title </p>
	</a>
	<a href="" class="col-lg-2 col-md-2 col-sm-2 pageTypeBtn" ng-click="typewriterCtrl.setPageType(4)" ng-class="{pageTypeSelected: typewriterCtrl.isSelected(4)}" ng-init="titleTextWhite = false" ng-mouseenter="titleTextWhite = true"
    ng-mouseleave="titleTextWhite = false">
		<img src="./assets/img/title-text-white.png" alt="..." class="pageTypeImage" ng-show="typewriterCtrl.isSelected(4) || titleTextWhite">
		<img src="./assets/img/title-text-black.png" alt="..." class="pageTypeImage"  ng-show="!typewriterCtrl.isSelected(4) && !titleTextWhite">
		<p> Title & Text </p>
	</a>
	<a href="" class="col-lg-2 col-md-2 col-sm-2 pageTypeBtn" ng-click="typewriterCtrl.setPageType(5)" ng-class="{pageTypeSelected: typewriterCtrl.isSelected(5)}" ng-init="titleImageWhite = false" ng-mouseenter="titleImageWhite = true" ng-mouseleave="titleImageWhite = false">
		<img src="./assets/img/title-image-white.png" alt="..." class="pageTypeImage" ng-show="typewriterCtrl.isSelected(5) || titleImageWhite">
		<img src="./assets/img/title-image-black.png" alt="..." class="pageTypeImage"  ng-show="!typewriterCtrl.isSelected(5) && !titleImageWhite">
		<p> Title & Image </p>
	</a>

</div>


<div class="container typewriter">
	<!--Left column (content options)-->
	<div class="col-lg-4 col-md-4 col-sm-4 leftBar">
		<div >
			<h3>Select Page</h3>
			<select class="form-control" ng-model="typewriterCtrl.currentPage" ng-options="n for n in [] | range:1:typewriterCtrl.pages.length" ng-change="typewriterCtrl.updatePage()">
			</select>
		</div>
		
		<!-- Text Only-->
		<div ng-show="typewriterCtrl.isSelected(1)">
			<text-editor></text-editor>
		</div>
		<!-- Image Only-->
		<div ng-show="typewriterCtrl.isSelected(2)">
			<image-editor></image-editor>
		</div>
		<!-- Title Only-->
		<div ng-show="typewriterCtrl.isSelected(3)">
			<title-editor></title-editor>
		</div>
		<!-- Title & Text-->
		<div ng-show="typewriterCtrl.isSelected(4)">
			<title-editor></title-editor>
			<text-editor></text-editor>
		</div>
		<!-- Title & Image-->
		<div ng-show="typewriterCtrl.isSelected(5)">
			<title-editor></title-editor>
			<image-editor></image-editor>
		</div>
	</div>
	<!--/Left column (content options)-->

	<!--Right column (Page preview)-->
	<div class="col-lg-8 col-md-8 col-sm-8">
		<div class="">
			<center>
				<button href="" class="btn btn-primary pageButton inline" role="button" ng-click="typewriterCtrl.addPage()">
		    		Add Page <span class="glyphicon glyphicon-plus button-icon" aria-hidden="true"></span>
		    	</button>   
		    	<button href="" class="btn btn-primary pageButton btnInverted inline" role="button" ng-confirm-click="Are you sure you want to delete this page?" confirmed-click="typewriterCtrl.deletePage()">
		    		Delete Page <span class="glyphicon glyphicon-trash button-icon" aria-hidden="true"></span>
		    	</button>
			</center>
		</div>
		<page-preview></page-preview>
	</div>
	<!--/Right column (Page preview)-->
</div>
<!-- ./Content -->
