<div class="container typewriter">
	<div class="col-lg-5 col-md-5 col-sm-5">
		<textarea ng-model="typewriterCtrl.text" cols="5" rows="5"></textarea>
		<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="typewriterCtrl.textAnalysis()">Submit Text</button>
		<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="typewriterCtrl.pdf()">PDF</button>
	</div>
	<div class="col-lg-7 col-md-7 col-sm-7">
		<div class="page" id="page">
			<div ng-repeat="par in typewriterCtrl.paragraphs track by $index">
				<p class="paragraph" style="white-space:pre-line;" ng-show="typewriterCtrl.isExtra($index)">{{par}} </p>
			</div>
		</div>
	</div>
	</div>
</div>

