<!-- PAGE PREVIEW -->
<center>
	<div class="page" id="page" >

		<!-- TEXT -->
		<div class="textParagraph" ng-repeat="par in typewriterCtrl.page.paragraphs track by $index" ng-if="typewriterCtrl.isSelected(1)">
			<p class="paragraph" style="white-space:pre-line;" ng-style="{'font-family': typewriterCtrl.page.pageStyle.textFont, 'font-size':typewriterCtrl.page.pageStyle.textSize}" ng-show="typewriterCtrl.isExtra($index)">{{par}}</p>
		</div>
		<!-- /TEXT -->

		<!-- IMAGE -->
		<img crossOrigin="Anonymous" ng-src="{{typewriterCtrl.bookAddress}}{{typewriterCtrl.page.image.markerPath}}"  ng-style="{'width': typewriterCtrl.setWidth(typewriterCtrl.page.image.width), 'height':typewriterCtrl.setHeight(typewriterCtrl.page.image.height), 'margin-left':typewriterCtrl.setMarginLeft(typewriterCtrl.page.image.left), 'margin-top':typewriterCtrl.setMarginTop(typewriterCtrl.page.image.top)}" id="onlyImg" class="image" ng-if="typewriterCtrl.isSelected(2) && typewriterCtrl.page.image.markerPath">
		<!-- /IMAGE -->

		<!-- TITLE -->
		<div class="centered" ng-if="typewriterCtrl.isSelected(3)">
			<h3 class="textParagraph paragraph" style="white-space:pre-line; text-align: center;" ng-style="{'font-family': typewriterCtrl.page.pageStyle.titleFont, 'font-size':typewriterCtrl.page.pageStyle.titleSize}">{{typewriterCtrl.page.title}}</h3>
		</div>
		<!-- /TITLE -->

		<!-- TITLE & TEXT -->
		<div ng-if="typewriterCtrl.isSelected(4)">
			<h3 class="textParagraph paragraph" style="white-space:pre-line; text-align: center; margin-bottom: 3%;" ng-style="{'font-family': typewriterCtrl.page.pageStyle.titleFont, 'font-size':typewriterCtrl.page.pageStyle.titleSize}">{{typewriterCtrl.page.title}}</h3>

			<div class="textParagraph" ng-repeat="par in typewriterCtrl.page.paragraphs track by $index">
				<p class="textParagraph paragraph" style="white-space:pre-line;" ng-style="{'font-family': typewriterCtrl.page.pageStyle.textFont, 'font-size':typewriterCtrl.page.pageStyle.textSize}" ng-show="typewriterCtrl.isExtra($index)">{{par}}</p>
			</div>

		</div>
		<!-- /TITLE & TEXT -->

		<!-- TITLE & IMAGE -->
		<div ng-if="typewriterCtrl.isSelected(5)">
			<h3 id="title-image" class="textParagraph paragraph" style="white-space:pre-line; text-align: center; margin-bottom: 3%; margin-top: 0;" ng-style="{'font-family': typewriterCtrl.page.pageStyle.titleFont, 'font-size':typewriterCtrl.page.pageStyle.titleSize}" ng-if="typewriterCtrl.page.title != ''">{{typewriterCtrl.page.title}}</h3>

			<img crossOrigin="Anonymous" ng-src="{{typewriterCtrl.bookAddress}}{{typewriterCtrl.page.image.markerPath}}"  ng-style="{'width': typewriterCtrl.setWidth(typewriterCtrl.page.image.width), 'height':typewriterCtrl.setHeight(typewriterCtrl.page.image.height), 'margin-left':typewriterCtrl.setMarginLeft(typewriterCtrl.page.image.left), 'margin-top':typewriterCtrl.setMarginTop(typewriterCtrl.page.image.top)}" id="titleImg" class="image" ng-if="typewriterCtrl.page.image.markerPath">
		</div>
		<!-- /TITLE & IMAGE -->

	</div>
</center>



