<h3>Text Content</h3>
<textarea class="textarea-text" ng-model="typewriterCtrl.page.text" cols="5" rows="5"></textarea>
<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="typewriterCtrl.textAnalysis()">Submit Text</button>

<div>
	<h3>Text Size</h3>
    <select name="textSize" class="textControls form-control" ng-model="typewriterCtrl.page.pageStyle.textSize">
		<option value="100%">12</option>
		<option value="112.5%">14</option>
		<option value="131.3%">16</option>
		<option value="150%">18</option>
		<option value="162.5%">20</option>
		<option value="181.3%">22</option>
		<option value="200%">24</option>
		<option value="206.3%">26</option>
	</select>
</div>

<div>
	<h3>Text Font</h3>
    <select name="textFont" class="textControls form-control" ng-model="typewriterCtrl.page.pageStyle.textFont">
		<option value="times">Times New Roman</option>
		<option value="helvetica">Helvetica</option>
		<option value="courier">Courier</option>
	</select>
</div>

